<!DOCTYPE html>
{% load i18n %}
<html>

<head>
    <title>{{ _("django-setman") }} &bull; {% block title %}{{ _("Test Project") }}{% endblock %}</title>

    <meta charset="utf-8">
    <link href="{{ MEDIA_URL }}css/style.css" media="screen,projection,tv" rel="stylesheet" type="text/css">
    {% block extra_head %}{% endblock %}
</head>

<body>

    <header>
        <h1>{{ _("django-setman") }}</h1>
        <h2>{% block content_title %}{{ _("Test Project") }}{% endblock %}</h2>
        <a class="github-ribbon" href="https://github.com/odeskps/django-setman">
            <img src="{{ MEDIA_URL }}images/github.png" alt="Fork me on GitHub">
        </a>
    </header>

    <article>
        {% block messages %}{% if messages %}<ul class="messages">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>{% endif %}{% endblock %}
        {% block content %}{% endblock %}
    </article>

    <footer>{{ _("Made with love by Igor Davydenko and Denis Plisko (Untitled team) at oDesk Sprint 2011.") }}</footer>

</body>

</html>
