* {
    margin: 0;
    padding: 0;
}

body {
    color: #2b2e2e;
    font-family: "PT Sans", "Helvetica", sans-serif;
    font-size: 12pt;
}

a {
    color: #641929;
    text-decoration: underline;
}

a:visited {
    color: #8c2439;
}

a:focus, a:hover {
    color: #2b2e2e;
}

article, footer, header {
    display: block;
}

header {
    background-color: #313f54;
    color: #cae6e8;
    padding: 10pt 40pt;
    text-shadow: 1px 1px 1px #2b2e2e;
}

header h1 a {
    color: #fff !important;
    cursor: pointer;
}

header h1 a:active, header h1 a:hover {
    color: #cae6e8 !important;
}

article {
    margin: 20pt 40pt;
}

article p {
    margin: 1em 0;
}

article ul {
    margin: 1em 0 1em 2em;
}

footer {
    color: #999;
    font-size: 0.9em;
    margin: 10pt 40pt;
}

form .fields dt {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 1em;
    text-align: right;
    width: 100px;
}

form .fields dt:first-child {
    margin-top: 0;
}

form .fields dd {
    margin-left: 120px;
}

form .fields dd.errors, h3.errors {
    color: darkred;
}

form .fields dd.field {
    display: inline-block;
    margin-left: 16px;
}

form .fields dd.help, p.help {
    color: #999;
    font-size: 0.9em;
}

form .fields input[type="text"] {
    border: 1px solid #cae6e8;
    border-radius: 2px;
    font-size: 1em;
    padding: 2px;
}

form p.buttons {
    margin-left: 120px;
    margin-top: 1em;
}

form p.buttons button {
    background-color: #313f54;
    border: 1px solid #cae6e8;
    border-radius: 4px;
    color: #cae6e8;
    cursor: pointer;
    font-size: 12pt;
    padding: 4px 16px;
    text-shadow: 1px 1px 1px #2b2e2e;
}

form p.buttons button a {
    color: #cae6e8;
    text-decoration: none;
}

hr {
    background-color: #cae6e8;
    border: 0;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin: 1em 0;
}

pre {
    background-color: #cae6e8;
    border-radius: 10px;
    font-family: "Menlo", "Monaco", "Consolas", monospace;
    font-size: 0.9em;
    padding: 10px;
}

ul.links {
    font-size: 1.2em;
}

ul.messages {
    margin-left: 0;
    list-style-type: none;
}

ul.messages li {
    border-radius: 4px;
    margin: 1px;
    padding: 4px 8px;
}

ul.messages .error {
    background-color: pink;
    color: darkred;
}

ul.messages .success {
    background-color: lightgreen;
    color: darkgreen;
}

.github-ribbon img {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.indent-bottom {
    margin-bottom: 1em;
}

.indent-top {
    margin-top: 1em;
}
