{% extends "base.html" %}

{% block title %}Sandbox{% endblock %}
{% block extra_head %}
    <script src="{{ url_for("static", filename="js/jquery-1.6.4.min.js") }}" type="text/javascript"></script>
{% endblock %}
{% block content_title %}Sandbox{% endblock %}

{% block content %}

    <form action="" method="post">
        <dl class="fields">
            <dt><label for="id_name">Name:</label></dt>
            <dd class="field">
                <input id="id_name" name="name" size="50" type="text" value="{{ name|e }}" />
            </dd>
            <dd class="help">Enter name of available setting, press <em>Enter</em> - get setting value.</dd>

            {% if has_value %}
            <dt>Value:</dt>
            <dd class="field">{% if not has_traceback -%}
                {{ value|pprint }}
            {%- else -%}
                <pre><code>{{ value }}</code></pre>
            {%- endif %}</dd>
            {% endif %}
        </dl>

        <p class="buttons">
            <button type="submit">Submit</button>
        </p>
    </form>

    <script type="text/javascript"><!--
        $("#id_name").focus();
    --></script>

    <p class="help"><em>Technical details:</em> Response is evaluation of <code>setman.helpers.get_config(name)</code></p>

    <hr />

    <h3>Flask config keys</h3>
    <p>{% for name in flask_names %}
        <a class="setting-name" href="#">{{ name }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}</p>

    <hr />

    <h3>setman settings names</h3>
    <p>{% for name in setman_names %}
        <a class="setting-name" href="#">{{ name }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}</p>

    <p class="help">Click to one of possible config key or setting name to fill and submit form.</p>

    <script type="text/javascript"><!--
        $("a.setting-name").click(function() {
            var $this = $(this);
            var form = $("form");
            var input = $("#id_name");

            input.val($this.text());
            form.submit();

            return false;
        })
    --></script>

{% endblock %}
